@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', 'Fira Code', monospace;
}

body {
  background-color: #09090b; /* zinc-950 */
  color: #f4f4f5; /* zinc-100 */
}
